<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EdurekaSuite">
	<test thread-count="5" name="RegressionTest">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.edureka.testscripts.LogInScript"></class>
			<class name="com.edureka.testscripts.PersonalDetailsUpdate"></class>
		</classes>
	</test> <!-- RegressionTest -->
</suite> <!-- EdurekaSuite -->
